[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/florence.desktop]
row=1
col=0

[/root/Desktop/xfce-terminal.desktop]
row=0
col=0

[/root/Desktop/firefox.desktop]
row=2
col=0

[/root/Desktop/INFO]
row=3
col=0

